$head-color: #d4d4d3;
$head-background: #000;
$default-background: #fff;
$body-background: #d7d7d9;
$hover-background: #fde291;
$message-color: #000;
$message-background: #f0ad4e;

.serverinfo{width:90%;margin:auto}
.serverinfo th, .serverinfo td{padding:0.2em 1em}
.serverinfo thead th{background-color:$head-background;color:$head-color}
.serverinfo tbody tr td{background-color:$default-background}
.serverinfo tbody tr:nth-child(2n+1) td, .serverinfo tbody tr:nth-child(2n+1) th{background-color:$body-background}
.serverinfo tbody tr:hover th, .serverinfo tbody tr:hover td{background-color:$hover-background}
.serverinfo tbody th{text-align:left}
.serverinfo tbody td{text-align:right}

.message{width:90%;margin:50px auto;background-color:$message-background;color:$message-color;border-radius:5px;font-weight:bold}
.message p{padding:2em 1em;}